/* Table Of Contents 

General Layout
1-Sign-up&Login Page
	a-Signup Page
	b-Login Page
2-Profile Page
3-Landing Page




*/

<style>

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% GENERAL LAYOUT %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

html {

	margin: 0px;
	padding: 0px;

}
body{

	
	font-family: calibri, arial;
	margin: 0;
	padding: 0;
	z-index: -1;
	background-color: #ddd;
	
}


.content {

max-width: 70%;
background-color: #595959;
margin: 0 auto;
margin-top: 0;
padding-top: 40px;
padding: 20px;
border: 2px solid black;

}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%% SIGN-UP & LOGIN PAGE BEGIN %%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.giris_resmi {

position: relative;
float: left;
left: 50px;
top: 40px;
background: url(images/Dönem_15.jpg);
opacity: 0.8;
width:45% ;
padding-top: 300px;
padding-bottom: 300px;
font-size: 65px;
border-radius: 40px;
z-index: -1;


}

.kayit_resmi {

position: relative;
float: right;
left: -50px;
top: 40px;
background: url(images/KEL_Foto.jpg);
background-image: cover;
width: 45%;
padding-top: 300px;
padding-bottom: 300px;
font-size: 65px;
border-radius: 40px;
opacity: 0.8;
z-index: -1;



}

.giris_text {

	text-decoration: none;
	font-weight: bold;
	color: #ddd;
	margin-left: 30%;

}
.kayit_text {

	text-decoration: none;
	font-weight: bold;
	color: #ddd;
	margin-left: 30%;

}

.kayit_resmi:hover {


opacity: 0.4;
transition: opacity 1.4s;
-webkit-transition: opacity 1.4s;


}
.giris_resmi:hover {

opacity: 0.4;
transition: opacity 1.4s;
-webkit-transition: opacity 1.4s;

}

.kayit_text:hover {

color: white;

}
.giris_text:hover {

color: white;

}

/* %%%%%%%%%%%%%%%%%%%%%%% Sign Up Side %%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.signup_container {
 	
 	
 	float: left;
	text-align: center;
	width: 47%;

}
.signup_form {

	margin-top: 200px;

}
.signup_input {

	font-size: 30px;
	margin-top: 20px;
}
.signup_btn {

	margin-top: 20px;
	font-size: 30px;
 }

/* %%%%%%%%%%%%%%%% LOG IN Side %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.login_container {

float: right;
text-align: center;
width: 47%;

}
.login_form {

	margin-top: 200px;
}

.login_input {


	font-size: 30px;
	margin-top: 20px;
}

.login_btn {

	margin-top: 20px;
	font-size: 30px;
	
}
/* %%%%%%%%%%%%%%%% GENERAL HEADER %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.header_logo {

background: url(images/KEL_Logo.jpg);
width: 110px;
height: 130px;
float: left;
background-size: cover;
margin-left: 30px;
position: relative;
border: 2px solid black;


}

.kel_header_text h1  {


margin-left: 160px;
position: relative;
font-size: 40px;
color: #ffa31a;
background-color:  black;
border: 3px solid red;
border-radius: 3px;
margin-bottom: 80px;
margin-top: 40px;
padding-top: 0px;
padding-left: 25px;

}

/* %%%%%%%%%%%%%%%%%%%%%%%% Navigation Bar %%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.top_nav_bar ul {

	
	margin-top: 80px;
	position: relative;
	background-color: #DDD;
	border: 1px;
	width: 860px; 
	margin: 0 auto;
	padding: 10px;

 
 }

.top_nav_bar li { 

display: inline;
margin: 15px;
padding: 10px;


}

.top_nav_bar a {

text-decoration: none;
color: black;
font-size: 24px;

}

.top_nav_bar a:hover {

color: #ff9900;

}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Sidebar %%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.sidebar {

position: fixed;
float: left;
width: 10%;
background-color: #595959;
border: 1px solid black;
top: 100px;
margin-left: 20px;
padding: 10px;

}

.calendar {

	margin-top: 20px;
	margin-bottom: 20px; 

}

.notifications {

	margin-top: 20px;
	background-color: #fff;
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 20px; 

}

.notifications a {

	text-decoration: none;
	color: black;

}

.notifications:hover {

	opacity: 0.4;
	transition: opacity 1.4s;
	-webkit-transition: opacity 1.4s;

}


.events {
	
	margin-top: 20px;
	background-color: #fff;
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 20px;
	

}

.events a {

	text-decoration: none;
	color: black;

}

.events:hover {
	
	opacity: 0.4;
	transition: opacity 1.4s;
	-webkit-transition: opacity 1.4s;
	
}

/* Content Area */

.content_area {

	margin:0 auto;
	width: 95%;
	background-color: white;
	border: 2px solid black;
	margin-top: 50px ;
	margin-bottom: 50px;

}

/* Footer */
.footer {
	width: 1200px;
	margin-top: 50px;
	padding: 30px;
	margin: 0 auto;
	
	
}
.footer_text {
	font-size: 18px;
	color: black;
	margin: 0 auto;

}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% PROFILE PAGE BEGIN %%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.welcome_text_wrapper {

	max-width: 1025px;
}

.welcome_text {

	text-align: center;
	font-size: 30px;

}


</style>